
@charset "UTF-8";

/*
    em HTML é id= em CSS é # (só pode um elemento)
    em HTML é class= em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(190, 238, 190);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
        color: rgb(6, 87, 6);
}

h1#principal {
    text-align: center;
    background-color:rgb(6, 87, 6);
    color: white;
}

h2{
        color: rgb(40, 59, 40);
}

.basico{
        color: rgb(14, 102, 14);
}

.intermediario{
        color: rgb(135, 146, 11);
}

.avancado{
        color: rgb(185, 7, 7);
}

.destaque{
    background-color: yellow;
}
